### Go
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

*.prof
*.coverprofile

### Local build binaries
/mdr
/main

### Wails
/build/bin
/frontend/dist
/frontend/node_modules
/node_modules

### OS
.DS_Store
Thumbs.db

### Editor/IDE
.vscode/
.idea/
*.swp
*.swo

### Logs
*.log
.windsurf
